
.Nav{
    display: block;
    width: 100%;
    min-height: 50px;
    line-height: 50px;
    /* background-color: grey; */
}
.mat-tab{
    color: Black;
}
.mat-button-toggle-group,.mat-button-toggle {
    width: 100%;
}