<div>
    <table class="_table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Item</th>
                <th>Quantity</th>
                <!-- <th>Price</th> -->
                <th>TotalPrice</th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td></td>
                <td>
                    <input [(ngModel)]="itemName" class="form-control" type="text" placeholder="item" />
                </td>
                <td>
                    <input [(ngModel)]="itemQuantity" class="form-control" type="number" placeholder="quantity" />
                </td>
                <td></td>
                <td><button mat-raised-button color="primary" (click)="addRow()">Add</button></td>
            </tr>


            <tr *ngFor="let row of rows; let i = index;">
                <td>{{i}}</td>
                <td>
                    {{rows[i].Item}}
                </td>
                <td>
                    {{rows[i].Quantity}}
                </td>
                <td>{{ rows[i].TotalPrice}}</td>
                <td>
                    <button mat-raised-button color="primary" (click)="deleteRow(i)">delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <app-summary [val]="object"></app-summary>
</div>